@import url("https://fonts.googleapis.com/css2?family=Agu+Display&family=Caveat:wght@400..700&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.titleFont,
.home-header {
  font-family: "Agu Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0;
}

input,
textarea,
button {
  outline: none;
}

.welcomeText {
  @apply text-[66px] font-medium italic flex items-center gap-1.5 px-5;
}

.home {
  @apply flex flex-col items-center gap-20 relative;
}

.navbar {
  @apply flex items-center justify-between h-[70px] bg-gradient-to-l to-orange-300 from-orange-800 rounded-full px-5;
}

.navbarLink {
  font-family: "Caveat", serif;
  @apply text-6xl font-extrabold italic flex items-center text-black duration-200 rounded-full px-5;
}

.home-header {
  height: calc(100vh - 144px);
  @apply flex flex-col items-center justify-center gap-7;
}

.friendCard {
  @apply flex flex-col items-center relative p-5 rounded-lg border-2 border-solid border-transparent hover:border-orange-500 duration-200 w-[320px] h-[220px] pt-16;

  background-color: #202122;
  &:hover {
    background-color: #000000;
  }
}

.fcImageDiv {
  @apply w-[100px] h-[100px] rounded-full overflow-hidden absolute left-1/2 -translate-x-1/2 -top-1/2 translate-y-1/2 bg-black border-2 border-solid border-orange-500 text-orange-100;
}

.fcNameSurname {
  @apply w-full flex justify-center items-center gap-1 text-xl font-bold;
}

.fcBirthdayPart {
  @apply w-full flex justify-between items-center absolute left-0 bottom-5 px-5;
}

.birthday-text {
  @apply text-2xl font-medium text-orange-200 rounded-xl bg-orange-500 bg-opacity-20 px-10 py-2.5 w-56;
}

.birthday-text-value {
  @apply text-2xl font-medium text-white bg-white bg-opacity-10 h-full flex items-center justify-center rounded-xl w-40;
}

.friend-name {
  @apply text-3xl font-medium text-white;
}

@media (max-width: 426px) {
  .navbar {
    @apply px-1.5 h-12;
  }
  .welcomeText {
    @apply text-5xl;
  }
  .navbarLink {
    @apply text-3xl w-full justify-center;
  }
}

@media (max-width: 376px) {
  .navbar {
    @apply px-0.5 py-0.5;
  }

  .navbarLink {
    @apply h-full;
  }

  .birthday-text {
    @apply text-lg w-40 px-2.5;
  }

  .birthday-text-value {
    @apply text-lg w-40 px-2.5;
  }

  .friend-name {
    @apply text-xl;
  }
}

@media (max-width: 320px) {
  .navbar {
    @apply px-1.5 h-12;
  }
  .navbarLink {
    @apply text-base w-full justify-center;
  }
}
